@use './_theme.scss';
@use './_common.scss' as common;

.calendar {
    @include common.position;
    min-width:800px;
    min-height: 800px;
    overflow: hidden;
    scroll-snap-type: none;
    font-family: 'EF_Diary';
    
    .menu {
        background-color:  rgb(255, 237, 205);
    }

    .top-left {
        position:absolute;
        font-size: 1.5em;
        padding-top:10px;
        svg {
            padding-left:13px;
        }
    }
    
    .top-right {
        @include common.size(100%, 40%);
        @include common.flex-row(right, center);
        font-size: 1.5em;
        padding-top:10px;
        svg {
            padding-right:13px;
        }

        .notifications:hover p{
            display : block;
            transform-origin: 100% 0%;
            -webkit-animation: fadeIn 0.3s ease-in-out;
            animation: fadeIn 0.3s ease-in-out;
        }
    
        .notifications p{
            margin : 2px 0 0 0;
            display: none;
            text-align: left;
            background-color: whitesmoke;
            padding: 20px;
            width: 300px;
            position: absolute;
            border-radius: 3px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            right: 46px;
            color: black;
            font-size: 0.6em;
            line-height: 1.4;
        }
        
        .notifications p:before{
            position: absolute;
            content: '';
            width:0;
            height: 0;
            border:6px solid transparent;
            border-bottom-color:whitesmoke;
            right:10px;
            top:-12px;
        }
        
        .notifications p:after{
            width:100%;
            height:40px;
            content:'';
            position: absolute;
        }
    
        @-webkit-keyframes fadeIn {
            0% { 
                opacity:0; 
                transform: scale(0.6);
            }
            100% {
                opacity:100%;
                transform: scale(1);
            }
        }
        @keyframes fadeIn {
            0% { opacity:0; }
            100% { opacity:100%; }
        }
    }

    .logout_btn{
        border: none;
        background-color:rgb(255, 237, 205);
        position: absolute;
        top:5%;
        left: 91.5%;
    }
    .logout_btn p1{
        font-size: 1em;
        font-family: 'EF_Diary';
    }
    .logout_btn:active {
        background-color: rgb(255, 227, 179);;     
      }
    
    .header {
        @include common.size(100%, 60px);
        @include common.flex-row(center, center);
        
        font-size: 1.5em;
        font-weight: 600;
        text-align: center;
        svg {
            padding-left:30px;
            padding-right:30px;
            vertical-align:middle;
        }
        padding-top: 20px;
        margin-bottom: 30px;
        background-color: rgb(255, 237, 205);
    }

    .days {
        @include common.size(100%, fit-content);
        @include common.flex-row(space-between, center);
        font-weight: 600;
        font-size: 1em;
        color: theme.$dark-gray-color;
        .col {
            @include common.size(13.5%, 20px);
            @include common.flex-column(center, center);
        }
    }

    .body {
        @include common.size(100%, 75%);
        @include common.flex-column();
        .row {
            @include common.size(100%, 100%);
            @include common.flex-row(space-between, center);
            .col {
                @include common.size(13.5%, 93%);
                @include common.flex-row(center, center);

                font-size: 1.3em;
                span {
                    margin: 0 0 0 0;
                }
                .not-valid {
                    color: theme.$gray-color;
                }
                img {
                    opacity: 0.1;
                }
            }
            .col.cell.valid {
                &:hover {
                    @include common.hover-event();
                    transform: scale(1.01);
                    border: none;
                    background: transparentize(theme.$gray-color, 0.5);
                }
            }
            .col.cell.selected {
                transform: scale(1.02);
                border: none;
                background: theme.$sub-color;
                color: theme.$main-color;
                font-weight: 600;
            }
        }
    }

}